<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FashionSpy</title>
</head>
<body>
    <header>
        <h1>FASHION SPY</h1>
        <h3>Hii, <%=CustomerName%> Your daily Fashion Bits are here!</h3>
    </header>

    <main>
        <h2><%=blog.title%></h2>
        <p id="section-1"><%=blog.section1%></p>
        <p id="section-2"><%=blog.section2%></p>
        <img src="">
        <p id="section-3"><%=blog.slogan%></p>
    </main>
    <footer>
        <p>Embed chatbot here!</p>
    </footer>
</body>
</html>